table{
    border: 4px double var(--color-accent-dark);
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

td, tr{
    padding: 0;
    border: 1px dotted var(--color-accent-dark) !important;
    text-transform: capitalize;
}

.table-group:hover{
    text-decoration: underline;        
}

.table-heading-row {
    font-weight: bold;
    text-align: center;
}
.table-hours-row >td{
    min-width: 50px;
}
.free-row {
}
.table-group {
}
.table-group-name {
}
.table-g {
    background-color: var(--color-green);
}
.table-r {
    background-color: var(--color-red);
}
.table-y {
    background-color: var(--color-yellow);
}

.table-legend{
    
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.table-legend >div{
    padding: 5px 5px;
    width: 30%;
    text-align: center;
    height: auto;
}


.news-edit-page {
    display: flex;
    align-items: start;
    justify-content: center;
}
.add-new-post{
    max-width: 60%;
    padding: 24px;
}
.add-new-post>form>input {
    border: 2px solid var(--color-accent-dark);
}
.add-new-post>form>.submit-btn{
    background-color: var(--color-accent-dark);
    color: white;
    padding: 5px 10px;
    width: auto;
}
.add-new-post>form>.submit-btn:hover{
    transition: 1s;
    background-color: white;
    color: var(--color-accent-dark);
}
.latest-posts {
    padding: 24px;
    width: 30%;

}
.post {

    width: auto;
    border: 2px solid var(--color-accent-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    border-radius: 10px;
    padding: 18px;

    position: relative;

}

.post>img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.buttons{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;

    width: auto; height: auto;

}
.delete {
    background: none;
    border: none;
    color: var(--color-red) ;
}
.edit {
    color: var(--color-green) ;

    background: none;
    border: none;
}